Click==7.0
pandas==0.25.1
requests==2.22.0
cachecontrol==0.12.5
lockfile==0.12.2 # for caching to file


tabulate==0.8.3
termcolor==1.1.0
tqdm==4.32.2

redis==3.3.8
pyarrow==0.14.1

# not a direct dependency in the source code
# but required to configure the environment
# These 2 versions go hand-in-hand.
# Not sure why boto3 doesn't get installed when awscli is included
awscli==1.16.248
boto3==1.9.238

datadog==0.30.0
